@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .portrait {
    height: 1000px;
    width: 1900px;
}
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div >
        @Html.ActionLink("Please click here For Any Enquiry..", "Index", "Enquiry");
       
    </div>
</body>
</html>
